<a href="https://colab.research.google.com/github/Pavneet01/Capstone-Project/blob/main/Capstone_W4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The Battle of Neighborhoods Week 1**

## **Introduction**

Tourism has always been a booming sector across the globe. No matter which country you live in, you can always come across a group of people, big or small, who always like to visit places. I being an adventurer myself can acknowledge this fact as to how tourism plays a salient role for a traveler/explorer. Tourism is not only an important aspect of a countryâ€™s economy but also for its global standing.

**Why Tourism is important to any country? -**

The tourism industry is important for the benefits it brings and due to its role as a commercial activity that creates demand and growth for many more industries. Tourism not only contributes to more economic activities but also generates more employment, revenues, and play a significant role in development.

* Tourism activity creates demand
* Tourism industry value chain meets & spreads demand across industries & boosts more economic activities
* Tourism induces more consumption

## **Business Problem**


All the benefits of tourism tend to reflect on the employment opportunity which it gives to the people of that country. The objective of this project is to analyze the tourist places of a given state in India and try to recommend the best location where they can open a restaurant or lodging to make the best use of the opportunity.

The target audience for this project include people who are interested in opening a restaurant, lodging, transport services or any other similar businesses which fall within the tourism industry

## **Data Anatomization**

To tackle the above mentioned problem, we need to have the dataset that contains

+ All the districts of a particular country
+ Latitude and longitudes of all the districts

**Description of the data -**

The output shows the final dataset . The dataset consists of a single Dataframe with 9 columns containing state, districts, latitude and longitudes of the particular district etc. Other columns like code, headquarters, population, area and density have also been scraped from the website which can be used for further analysis.

In [4]:
import pandas as pd
df = pd.read_csv('/content/table-1.csv')
df.head()

  Map key Name of State or Union Territory  ...   Population Population/district
0       1                   Andhra Pradesh  ...   49,386,799           3,798,985
1       2                Arunachal Pradesh  ...    1,383,727              57,656
2       3                            Assam  ...   31,169,272             944,523
3       4                            Bihar  ...  104,099,452           2,739,459
4       5                     Chhattisgarh  ...   25,545,198             946,118

[5 rows x 5 columns]